{% extends 'base.html.twig' %}

{% block title %}Customer detail{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h1>Customer detail</h1>
        </div>
        <div class="card-body">
            <p class="card-text"><span class="fs-6 fw-bold">Supplier ID: </span>{{ supplier.id }}</p>
            <p class="card-text"><span class="fs-6 fw-bold">Supplier name: </span>{{ supplier.supName }}</p>
            <p class="card-text"><span class="fs-6 fw-bold">Supplier address </span>{{ supplier.supAdd }}</p>
        </div>
    </div>


{% endblock %}
